*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

:root {
  --primary: #1a233a;
  --light: #6899c7;
  --white: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--primary);
  color: var(--white);
}
